{% extends 'base.html' %} {% block title %}<title>Page assos</title>{% endblock
%} {% block content %}
<h1>Assos page</h1>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Ajouter une ligne
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Ajouter une ligne
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/result">
          <div class="mb-3">
            <label for="rnaId" class="form-label">Rna ID</label>
            <input type="text" class="form-control" id="rnaId" name="rnaId" />
          </div>
          <div class="mb-3">
            <label for="rnaIdEx" class="form-label">Rna Id Ex</label>
            <input
              type="text"
              class="form-control"
              id="rnaIdEx"
              name="rnaIdEx"
            />
          </div>
          <div class="mb-3">
            <label for="gestion" class="form-label">Gestion</label>
            <input
              type="text"
              class="form-control"
              id="gestion"
              name="gestion"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Fermer
            </button>
            <button type="submit" class="btn btn-primary">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">RNA ID</th>
      <th scope="col">RNA ID EX</th>
      <th scope="col">Gestion</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {% for data in datas %}
    <tr>
      <th scope="row">{{ data.id }}</th>
      <td name="id">{{ data.rna_id }}</td>
      <td>{{ data.rna_id_ex }}</td>
      <td>{{ data.gestion }}</td>
      <td>
          <button class="btn btn-secondary">Modifier</button>
        <form action="/delete" method="post">
          <button name="rnaIdDel" value={{data.id}} type="submit" class="btn btn-danger">
            Supprimer
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
